/* general */
*{
	box-sizing: border-box;
	font-family:arial, sans-Serif;
}
*::-webkit-scrollbar{
	width:8px;
	height:8px;
}
*::-webkit-scrollbar-thumb{
	background: darkorange;
	border-radius:4px;
}
*::-webkit-scrollbar-thumb:hover{
	background: rgb(252, 182, 96);
    transition: 2s;
}
input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f1f1f1 inset;
    background-color: #f1f1f1 !important;
}
body{
    background: #181818;
	color: #dddddd;
    margin: 0;
}
a{
    text-decoration: none;
    color: darkorange;
}
a:hover{
    color: #6c6c6c;
    /* color: rgb(252, 182, 96); */
    transition: .5s;
}
a:focus{
	outline: 1px solid #6c6c6c;
	color: #6c6c6c;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
h1{
    font-size: 3rem;
}
/*  */
header h1{
    margin: 8px;
	letter-spacing: 0.07rem;
}
header{
    margin: auto;
    position: relative;
    text-align: center;
    top: 0vh;
    width: 300px;
    z-index: 10;
}
main{
    margin: 0;
    border: 1px solid #202020;
    position: absolute;
    top: 0;
    left: 56px;
    bottom: 6%;
    right: 0;
}
main, .contenido{
    overflow: auto;
    padding: 12px 14px;
}
.contenido{
	padding-top: 36px;
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 56px;
    background: rgb(32, 32, 32);
}
footer{
    background: rgb(32, 32, 32);
    bottom: 0;
    display: flex;
    left: 56px;
    margin: 0;
    right: 0;
    padding: 0px;
    position: fixed;
    top: 94%;
}
footer > div{
    width: 50%;
    position: relative;
	top: -1px;
}
footer div.top-footer{
    display: flex;
}
footer > div > div{
    margin: 0;
}
footer div.by-footer{
	display: flex;
    text-align: right;
	align-items: end;
	justify-content: right;
}
footer div.by-footer > span{
	padding: 4px 10px;
	font-size: .9rem;
	letter-spacing: .03rem;
}
/* interno main */
.nav{
	position: relative;
}
.upmenu.active{
	content: '';
    visibility: visible;
	-webkit-animation: upMenuEffect .5s linear;
	animation: upMenuEffect .5s linear;
}
.upmenu{
	content: '';
	background: #000;
	bottom: 38px;
	box-shadow: 0px -10px 20px 0px #181818;
	padding: 6px 0;
	position: absolute;
	visibility: hidden;
	width: max-content;
	-webkit-animation: hiddenMenuEffect .5s linear;
	animation: hiddenMenuEffect .5s linear;
	transition: .5s;
}
@-webkit-keyframes upMenuEffect{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 9;
	}
}
@keyframes upMenuEffect{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 9;
	}
}
@-webkit-keyframes hiddenMenuEffect{
	0%{
		opacity: 9;
	}
	100%{
		opacity: 0;
	}
}
@keyFrames hiddenMenuEffect{
	0%{
		opacity: 9;
	}
	100%{
		opacity: 0;
	}
}
.upmenu li, .upmenu li a{
	display: block;
	padding: 0 20px;
	font-size: 1rem;
    letter-spacing: .04rem;
}
.upmenu li{
	padding: 6px 0;
}
aside ul li a{
    display: block;
    margin: 10px 0;
    padding: 8px;
    text-align: center;
}
aside ul li a i{
    font-size: 1.8rem;
}
.left-footer > ul > li > a, .right-footer > ul > li > a{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
	padding-left: 14px;
	padding-right: 14px;
	font-size: 1rem;
    letter-spacing: .04rem;
}
.left-footer > ul > li > a > i, .right-footer > ul > li > a > i{
	margin-left: 8px;
}
.left-footer:hover, .right-footer:hover{
	background: #000;
	transition: 1s;
}
.right-footer:active, .left-footer:active{
	animation: radial 1s linear;
}
@keyframes radial{
	0%{
		background: radial-gradient(black 10%, #181818 20%);
	}
	100%{
		background: radial-gradient(black 90%, #181818 100%);
	}
}
.nav > li{
	padding:0px;
}
@media( max-width: 1366px ){
    
}
@media( max-width:1200px ){
    
}
@media( max-width:900px ){
    
}
@media( max-width:400px ){
    footer{
		display:block;
		left: 0px;
		top: 90%;
	}
	footer > div {
		width: 100%;
	}
	.left-footer, .right-footer{
		width: 50%;
	}
}